<div class="header">
    <h1 class="pageTitle">Find Service Nearby</h1>
</div>

<div class="container-fluid">
    <div id="map"></div>
    <div class="places-container">
        <div class="row places-row">
            <div class="col-md-12 shop" ng-repeat="place in placeDetails">
                <h4>{{place.name}}</h4>
                <a class ="service-site" ng-href="{{place.website}}">Visit Website</a>
                <p>{{place.formatted_address}}</p>
                <p>{{place.formatted_phone_number}}</p>
                <p class="open" ng-if="place.opening_hours.open_now">OPEN NOW</p>
                <p class="open" ng-if="!place.opening_hours.open_now">CLOSED</p>
            </div>
        </div>
    </div>
</div>