<div class="header">
    <h1 class = pageTitle>Dashboard</h1>
</div>

<div class = "container-fluid">
    <label class="section-label all-control" ng-click="hideAll()"><i class="fa fa-chevron-up"></i>Collapse All </label>
    <label class="section-label all-control"  ng-click="showAll()"><i class="fa fa-chevron-down"></i>Expand All</label>

    <div class="row snapshot-row">
        <div class = "col-md-12 overview">
            <label class="section-label">At a Glance</label>
            <label class="section-label expand" ng-show="!snapshotVisible" ng-click="snapshotShowHide()"> <i class="fa fa-chevron-down"></i></label>
            <label class="section-label expand" ng-show="snapshotVisible" ng-click="snapshotShowHide()"> <i class="fa fa-chevron-up"></i></label>
        </div>
        <div class="col-md-4 glance-column" ng-show="snapshotVisible">
            <p class="detail"><label>Next Vehicle Due for Service:</label> </p>
            <p class="detail"><label>Next Service Due:</label> </p>
            <p class="detail"><label>Days until Due:</label> </p>
        </div>
        <div class="col-md-4 glance-column" ng-show="snapshotVisible">
            <p class="detail"><label>Total Overdue Services:</label> </p>
            <p class="detail"><label>Total Services due this month:</label> </p>
            <p class="detail"><label>Total Services due this year:</label> </p>
        </div>
        <div class="col-md-4 glance-column" ng-show="snapshotVisible">
            <p class="detail"><label>Total Cost YTD:</label> </p>
            <p class="detail"><label>AVG Service Cost:</label> </p>
            <p class="detail"><label>Highest Cost to Maintain:</label> </p>
        </div>
    </div>

    <div class="row vehicle-detail-container">
         <div class = "col-md-12 overview">
             <label class="section-label">Vehicle Spotlight</label>
             <label class="section-label spotlight-expand" ng-show="!spotlightVisible" ng-click="spotlightShowHide()"> <i class="fa fa-chevron-down"></i></label>
             <label class="section-label spotlight-expand" ng-show="spotlightVisible" ng-click="spotlightShowHide()"> <i class="fa fa-chevron-up"></i></label>
         </div>
         <div class="vehicle-detail-row" ng-show="spotlightVisible">
             <div class = "row select-row">

                 <div class="col-md-12 dropdown-container">
                    <div class="col-md-2 dropdown-col">
                        <select class="form-control vehicle-dropdown" ng-change="getServices()" ng-model="selectedVehicle" ng-options="vehicle.nickname for vehicle in vehicles">
                        </select>
                    </div>
                </div>
                <div class="col-md-9 overview-row">
                    <div class="col-md-4 info-column">
                        <p class="spotlight-detail"><label>Make:</label> {{selectedVehicle.make}}</p>
                        <p class="spotlight-detail"><label>Model:</label> {{selectedVehicle.model}}</p>
                        <p class="spotlight-detail"><label>Year:</label> {{selectedVehicle.modelYear}}</p>
                    </div>
                    <div class="col-md-5 service-column">
                        <p class="spotlight-detail"><label>Engine:</label> {{selectedVehicle.engine}}</p>
                        <p class="spotlight-detail"><label>Next Service Due:</label> {{vehicleServices[0].name}}</p>
                        <p class="spotlight-detail"><label>Miles until Due:</label> {{vehicleServices[0].milesTilDue | number}}</p>
                    </div>
                    <div class="col-md-3 odometerColumn">
                        <div class = "col-md-12 overview">
                            <label class="section-label">Current Odometer</label>
                        </div>

                        <h4 class="detail odo-detail" ng-show="!selectedVehicle.odometerIsVisible">{{selectedVehicle.currentOdometer | number}} mi</h4>
                        <label>
                            <button class="btn edit-btn odo-update" ng-click = "odometerShow(selectedVehicle)" ng-show="!selectedVehicle.odometerIsVisible">Update</button>
                        </label>

                        <form id="odometer-form" ng-show="selectedVehicle.odometerIsVisible" ng-submit="updateOdometer()">
                            <input class="odometer-input" size="6" ng-model="selectedVehicle.currentOdometer">
                            <br>
                            <button class="btn edit-btn odo-update odo-submit" type="submit" form="odometer-form" ng-click="odometerHide(selectedVehicle)">Save</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-3 tools-row">
                    <div class="col-md-12 overview">
                        <label class="section-label">Tools</label>
                    </div>
                    <div class="col-md-6 tools" >
                        <button class="btn edit-btn" ng-click="goToEditPage(selectedVehicle)">Edit Vehicle</button>
                        <button class="btn edit-btn bottom-button-row" ng-click="goTo('/newVehicle')">Add Vehicle</button>
                    </div>
                    <div class="col-md-6 tools" >
                        <button class="btn edit-btn">Delete Vehicle</button>
                        <button class="btn edit-btn bottom-button-row" ng-click="goTo('/findService')">Find Service</button>
                    </div>
                </div>
            </div>

             <div class="row service-schedule-row">
                 <div class = "col-md-12 overview">
                     <label class="section-label">Maintenance Schedule</label>
                     <label class="section-label expand" ng-show="!scheduleVisible" ng-click="scheduleShowHide()"> <i class="fa fa-chevron-down"></i></label>
                     <label class="section-label expand" ng-show="scheduleVisible" ng-click="scheduleShowHide()"> <i class="fa fa-chevron-up"></i></label>
                 </div>

                 <div class = "row  schedule-row" ng-show="scheduleVisible">
                     <div class="col-md-3">
                         <label class="schedule-label">Service</label>
                     </div>
                     <div class="col-md-3 center">
                         <label class="schedule-label">Miles until Due</label>
                     </div>
                     <div class="col-md-3 center">
                         <label class="schedule-label">Mileage Interval</label><br>
                     </div>
                     <div class="col-md-3 center">
                         <label class="schedule-label">Recommended</label><br>
                     </div>
                 </div>
                 <hr class="schedule-hr">

                 <div class="row services-list" ng-repeat="service in vehicleServices" ng-show="scheduleVisible">
                     <div class = "row">
                         <div class="col-md-3">
                             <label class="service-label schedule-data">{{ service.name }}</label>
                         </div>
                         <div class="col-md-3 data-col">
                             <label class="schedule-data">{{ service.milesTilDue | number }}</label>
                         </div>
                         <div class="col-md-3 data-col">
                             <label class="schedule-data" ng-show="!inputsVisible">{{ service.milesInterval | number }}</label>
                             <input type="text" class ="interval-input" ng-show="inputsVisible" placeholder=" {{service.milesInterval}}" />
                         </div>
                         <div class="col-md-3 data-col">
                             <label class="schedule-data">{{ service.recMilesInterval | number }}</label>
                         </div>
                     </div>
                 </div>
                 <div class="row" ng-show="scheduleVisible">
                     <div class="col-md-12">
                     <button class="btn edit-btn interval-btn" ng-show="!inputsVisible" ng-click="intervalsShowHide($event)">Edit Intervals</button>
                     <button class="btn edit-btn interval-btn" ng-show="inputsVisible" ng-click="intervalsShowHide($event)">Save Changes</button>
                     </div>
                 </div>
             </div>

             <div class="row log-service-container">
                 <div class="col-md-12 log-service-row">
                     <div class = "col-md-12 overview">
                         <label class="section-label">Log Completed Service</label>
                         <label class="section-label expand" ng-show="!logVisible" ng-click="logShowHide()"> <i class="fa fa-chevron-down"></i></label>
                         <label class="section-label expand" ng-show="logVisible" ng-click="logShowHide()"> <i class="fa fa-chevron-up"></i></label>
                     </div>
                     <form id= "log-service" ng-submit="" ng-show="logVisible">
                         <div class="col-md-6">
                             <label class ="schedule-label log-label">Service</label><br>
                             <select class="log-input" required>
                                 <option ng-repeat="service in vehicleServices">{{service.name}}</option>
                             </select>
                         </div>

                         <div class="col-md-6">
                             <label class ="schedule-label log-label">Shop</label><br>
                             <input class="log-input" type="text" />
                         </div>

                         <div class="col-md-6">
                             <label class ="schedule-label log-label">Total Cost</label><br>
                             <input class="log-input" type="text" min="1" step="any" required />
                         </div>

                         <div class="col-md-6">
                             <label class ="schedule-label log-label">Labor Cost</label><br>
                             <input type="text" min="1" step="any" class="log-input" />
                         </div>

                         <div class="col-md-6">
                             <label class ="schedule-label log-label">Parts Cost</label><br>
                             <input type="text" min="1" step="any" class="log-input"  />
                         </div>

                         <div class="col-md-6">
                             <label class ="schedule-label log-label">Odometer</label><br>
                             <input class="log-input" type="text" required />
                         </div>
                         <div class="col-md-3 log-service-save">
                             <button type="submit" class= "btn edit-btn" form="log-service">Save</button>
                         </div>
                     </form>
                 </div>

             </div>
        </div>
    </div>

    <div class="row charts-container" ng-controller="chartsController">
        <div class = "col-md-12 overview charts">
            <label class="section-label">Charts</label>
            <label class="section-label expand" ng-show="!chartsVisible" ng-click="chartsShowHide()"> <i class="fa fa-chevron-down"></i></label>
            <label class="section-label expand" ng-show="chartsVisible" ng-click="chartsShowHide()"> <i class="fa fa-chevron-up"></i></label>
        </div>
        <div class="col-md-6 chart1" ng-show="chartsVisible">
            <canvas id="totalByMonth" ng-show="chartsVisible"></canvas>
        </div>
        <div class="col-md-5 chart2" ng-show="chartsVisible">
            <canvas id="totalByService" ng-show="chartsVisible"></canvas>
        </div>
    </div>

            <!--</div>
                <div class="col-md-3 buttons-column">
                    <!--<button class="btn edit-btn detail" ng-click="goToEditPage(vehicle)">Edit Vehicle</button><br>-->
                  <!--  <button class="btn log-service-btn detail" ng-click="goTo('/logService')">Log a Service</button><br>
                    <button class="btn log-service-btn detail" ng-click="goTo('/services')">Service Schedule</button><br>
                </div> -->
</div>