<div class="header">
    <h1 class = pageTitle>Dashboard</h1>
</div>

<div class = "container-fluid">

    <div class = "row select-row">
        <div class="col-md-1">
            <label class="select-label">Vehicle:</label>
        </div>
        <div class="col-md-7">
            <select class="form-control vehicle-dropdown" ng-model="selectedVehicle" ng-options="vehicle.nickname for vehicle in vehicles">
            </select>
        </div>
        <div class = "col-md-4">
            <a href="" ng-click="goTo('/newVehicle')" >
                <p class="add-vehicle">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                        Add a Vehicle</p></a>
        </div>
    </div>

    <div class= "row overview-row">
        <div class = "col-md-12 overview">
            <label class="section-label">Overview</label>
            <a class="section-label vehicle-edit" ng-click="goToEditPage(vehicle)">Edit Vehicle Info</a>
        </div>
        <div class="col-md-4 info-column">
            <p class="detail"><label>Make:</label> {{selectedVehicle.make}}</p>
            <p class="detail"><label>Model:</label> {{selectedVehicle.model}}</p>
            <p class="detail"><label>Year:</label> {{selectedVehicle.modelYear}}</p>
            <p class="detail"><label>Engine:</label> {{selectedVehicle.engine}}</p>
        </div>
        <div class="col-md-4 info-column">
            <p class="detail"><label>Next Service Due:</label> {{selectedVehicle.nextServiceDue}}</p>
            <p class="detail"><label>Miles until next Service:</label> {{selectedVehicle.milesToService | number}}</p>
            <p class="detail"><label>Days until next Service:</label> {{selectedVehicle.daysToService}}</p>
            <label><a class="service-nearby-link" ng-click="goTo('/findService')">Find a Shop Nearby</a></label>
        </div>
        <div class="col-md-4 odometerColumn">
            <h4 class="detail odo-detail" ng-show="!selectedVehicle.odometerIsVisible"><label class="odo-label">Odometer</label> <br>{{selectedVehicle.currentOdometer | number}}</h4>
            <label>
                <a href="" class="update detail odo-update" ng-click = "odometerShow(selectedVehicle)" ng-show="!selectedVehicle.odometerIsVisible">Update</a>
            </label>
            <form id="odometer-form" ng-show="selectedVehicle.odometerIsVisible" ng-submit="updateOdometer()">
                <h4 class="detail odo-detail"><label>Odometer</label><input class="odometer-input" size="6" ng-model="selectedVehicle.currentOdometer"></h4>
                <br>
                <button class="btn odo-submit" type="submit" form="odometer-form" ng-click="odometerHide(selectedVehicle)">Submit</button>
            </form>
        </div>
    </div>



            <!--</div>
                <div class="col-md-3 buttons-column">
                    <!--<button class="btn edit-btn detail" ng-click="goToEditPage(vehicle)">Edit Vehicle</button><br>-->
                  <!--  <button class="btn log-service-btn detail" ng-click="goTo('/logService')">Log a Service</button><br>
                    <button class="btn log-service-btn detail" ng-click="goTo('/services')">Service Schedule</button><br>
                </div> -->


        <!-- </div>
    </div> -->
</div>