<div class="page-wrapper">

    <div class="header">
        <h1 class="pageTitle">Log Completed Service</h1>
    </div>

    <div class="form-modal">

        <form id= "log-service-form" ng-submit="goTo('/home')">
            <h1 class="modal-heading">{{vehicle.nickname}}</h1>
            <hr class="modal-hr">

            <div class="row">
                <div class="col-md-6">
                    <label class ="form-modal-label">Service Completed</label><br>
                    <select class="service-dropdown" type="text" required>
                        <option ng-repeat="service in services">{{service.id}}</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class ="form-modal-label">Shop Where Completed</label><br>
                    <input class="modal-input" type="text" />
                </div>

                <div class="col-md-6">
                    <label class ="form-modal-label">Total Cost</label><br>
                    <input class="modal-input" type="number" min="1" step="any" required />
                </div>

                <div class="col-md-6">
                    <label class ="form-modal-label">Labor Cost</label><br>
                    <input type="number" min="1" step="any" class="modal-input" t />
                </div>

                <div class="col-md-6">
                    <label class ="form-modal-label">Parts Cost</label><br>
                    <input type="number" min="1" step="any" class="modal-input"  />
                </div>

                <div class="col-md-6">
                    <label class ="form-modal-label">Odometer When Completed</label><br>
                    <input class="modal-input" type="number" required />
                </div>
            </div>

            <button type="submit" class= "btn modal-submit-btn" form="log-service-form">Save</button>

        </form>
    </div>
</div>