<div class="page-wrapper">
    <div class="form-modal">
        <form id= "new-vehicle-form" ng-submit="addVehicle()">
            <h1 class="modal-heading">Add a Vehicle</h1>
            <hr class="modal-hr">
            <p class="error" ng-show="error">Fields marked with ( * ) are required</p>

            <div class="row">
                <div class="col-md-4">
                    <label class ="form-modal-label">*Make</label><br>
                    <select name = "make-select" class="modal-input modal-select" ng-model="make" ng-change="getModels()"
                            ng-options="make.id as make.name for make in makeList" required>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class ="form-modal-label">*Model</label><br>
                    <select required class="modal-input modal-select" ng-model="model"
                            ng-options="model.id as model.name for model in modelList" >
                    </select>
                </div>
                <div class="col-md-4">
                    <label class ="form-modal-label">*Year</label><br>
                    <select class="modal-input modal-select" ng-model="year" required>
                        <option value="{{year}}" ng-repeat="year in years">{{year}}</option>
                    </select>

                </div>
                <div class="col-md-4">
                    <label class ="form-modal-label">*Odometer</label><br>
                    <input class="modal-input" type="number" ng-model="odometerReading">
                </div>
                <div class="col-md-4">
                    <label class ="form-modal-label">*Nickname</label><br>
                    <input class="modal-input" type="text"
                           ng-model="nickname">
                </div>
                <div class="col-md-4">
                    <label class ="form-modal-label">Engine</label><br>
                    <input class="modal-input" type="text" ng-model="engine">
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="services-heading form-modal-label">Select the services you would like to track</label>
                    <hr>
                    <div class="services-select">
                        <label class="modal-checkbox-label form-modal-label" ng-repeat="service in serviceTypes">
                            {{service.name}}
                            <input class="modal-input" type="checkbox" ng-model="service.checked" >
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class= "btn modal-submit-btn" form="new-vehicle-form">Done</button>
        </form>

    </div>
</div>