
.hr-modal {
    margin-bottom: 6.8vh !important;
}

#map {
    position: fixed !important;
    right: 1%;
    top: 22%;
    height: 500px;
    width: 700px;
    background-color: #1F1F1F;
}

.places-container {
    position: absolute;
    top: 12%;
    overflow: auto;
    width: 46vw;
}

.shop {
    padding-top: .5%;
    margin-bottom: 1vh;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
}

h4 {
    display: inline;
    color: #00BCD4;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

p {
    margin-top: 1%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.open {
    color: #00BCD4;
}

a {
    float: right;
    color: #00BCD4;
    font-size: 18px;
}