.container-fluid {
    height: 100%;
    width: 100%;
    background: #1F1F1F;
}

.add-vehicle {
    margin-top: 1%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.fa-plus {
    font-size: 20px;
}

.add-vehicle:hover {
    color: #00BCD4;
}

.snapshot-row {
    margin-top: 10vh !important;
    width: 100% !important;
    padding: 0 !important;
    display: table;
    height: auto;
    border: 1px solid white;
    color: #00BCD4;
}

.vehicle-detail-container {
    margin-top: 3vh !important;
    border: 1px solid white;
}

.vehicle-detail-row {
    padding: 1vw !important;
}

.select-row {
    margin-top: 5vh !important;
}

.select-label {
    font-size: 20px;
}

.dropdown-container {
    padding-left: 0 !important;
}

.dropdown-col {
    padding: 0 !important;
}

.vehicle-dropdown {
    padding: 0 !important;
    height: auto;
    width: 15vw !important;
    font-size: 18px;
    background: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #1F1F1F;
    font-weight: bold;
}

.overview-row {
    width: 70% !important;
    margin-top: 3vh;
    margin-bottom: 2vh;
    display: table;
    height: auto;
    color: #00BCD4;
}

.overview {
    padding: 0 !important;
    background-color: #00BCD4 !important;
}

.tools-row {
    margin-top: 1vh;
    float: right;
    padding: 0 !important;
    display: table;
    height: auto;
    border: 1px solid white;
    color: #00BCD4;
}

.charts-row {
    margin-top: 1vh;
    padding: 0 !important;
    display: table;
    height: auto;
    border: 1px solid white;
    color: #00BCD4;
}

.bottom-button-row {
    margin-bottom: 2vh !important;
}

.vehicleInfo {
    display: table-cell;
    vertical-align: middle;
}

.info-column {
    padding-top: 1%;

}

.odometerColumn {
    padding-top: 1vh;
    text-align: center;
}

.service-column {
    padding-top: 1%;
}

.odo-detail {
    font-size: 30px !important;
}

.detail {
    font-size: 17px;
    margin: 0 !important;
}

.update,
.update:visited,
.update:focus {
    text-decoration: underline;
}

.update:hover {
    text-decoration: underline;
    color: white !important;
}

label {
    color: white;
    padding-right: 1%;
    margin-bottom: 1% !important;
}

.btn {
    margin-top: 1.7vh;
    border: none !important;
    padding-top: 1vh;
    font-size: 18px;
}

.odometer-input {
    width: 8vw;
    font-size: 20px;
    text-align: right;
    color: black !important;
}

#odometer-form {
    margin-top: -4.5vh;
}

.odo-submit {
    width: 5vw;
    margin-top: 1vh;
    background-color: #00BCD4;
    color: white !important;
    font-size: 15px;
}

.odo-submit:hover,
 .odo-submit:focus {
    background-color: #00BCD4;
    color: white !important;
}

.edit-btn,
.edit-btn:visited {
    width: 10vw !important;
    background-color: black;
    border: 1px solid #00BCD4 !important;
    color: white !important;
}

.edit-btn:hover,
 .edit-btn:focus {
    background-color: #00BCD4;
    color: white !important;
}

.log-service-btn,
.log-service-btn:visited {
    background-color: #00BCD4;
    color: white !important;
}

.log-service-btn:hover,
 .log-service-btn:focus {
    background-color: #00BCD4;
    color: white !important;
}


.chart {
    margin-bottom: 2vh !important;
}

.section-label {
    margin-left: 1%;
    margin-bottom: 0 !important;
    padding: .15%;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: black !important;
}

.vehicle-edit {
    float: right;
    padding: 0 1%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: black !important;
    text-decoration: underline;
}

.vehicle-edit:hover {
    color: white !important;
}

.service-nearby-link {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

.service-nearby-link:hover {
    color: white;
}

.expand {
    cursor: pointer;
    padding-left: 38%;
    font-size: 17px;
    margin-left: .1%;
}

.tools-expand {
    cursor: pointer;
    padding-left: 31%;
    font-size: 17px;
    margin-left: .1%;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid white;
}

.charts-container {
    margin: 5vh 0 !important;
}

.chart1 {
    float: left;

}

.chart2 {
    float: right;

}
