.container-fluid {
    height: 100%;
    width: 100%;
    padding-bottom: 2vh;
    background: #1F1F1F;
}

.add-vehicle {
    margin-top: 1%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.fa-plus {
    font-size: 20px;
}

.add-vehicle:hover {
    color: #00BCD4;
}

.snapshot-row {
    width: 100% !important;
    padding: 0 !important;
    display: table;
    height: auto;
    color: #00BCD4;
}

.vehicle-detail-container, .service-schedule-row, .log-service-row, .odometerColumn, .snapshot-row, .charts-container {
    margin-top: 3vh !important;
    border: 1px solid white;
}

.service-schedule-row {
    float: left;
    width: 59% !important;
    margin-bottom: 2vh !important;
    margin-top: 1vh !important;
}

.log-service-row {
    padding: 0 !important;
    width: 34% !important;
    float: right;
    margin-bottom: 2vh !important;
    margin-top: 1vh !important;
}

log-service-container {
    background: #00BCD4;
    margin-left: 5vw;
}

.vehicle-detail-row {
    padding: 1vw !important;
}

.select-row {
    margin-top: 5vh !important;
}

.select-label {
    font-size: 20px;
}

.dropdown-container {
    padding-left: 0 !important;
}

.dropdown-col {
    padding: 0 !important;
}

.vehicle-dropdown {
    padding: 0 !important;
    height: auto;
    width: 15vw !important;
    margin-left: 2vw;
    font-size: 18px;
    background: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #1F1F1F;
    font-weight: bold;
}

.odometerColumn {
    height: 155px;
    padding: 0 0 1vh 0 !important;
    text-align: center;
    margin-top: -7vh !important;
}

.overview-row {
    width: 70% !important;
    margin-top: 3vh;
    margin-bottom: 0;
    display: table;
    height: auto;
    color: #00BCD4;
}

.overview {
    height: 33px !important;
    text-align: left;
    padding: 0 !important;
    background-color: #00BCD4 !important;
}

.tools-row {
    height: 150px !important;
    margin: -4vh 0 1vh 0;
    float: right;
    padding: 0 !important;
    display: table;
    height: auto;
    border: 1px solid white;
    color: #00BCD4;
}

.charts-row {
    margin-top: 1vh;
    padding: 0 !important;
    display: table;
    height: auto;
    border: 1px solid white;
    color: #00BCD4;
}

.bottom-button-row {
    margin-bottom: 2vh !important;
}

.vehicleInfo {
    display: table-cell;
    vertical-align: middle;
}

.info-column {

}

.glance-column {
    padding-top: 1%;
    padding-left: 3vw !important;
}

.service-column {

}

.detail {
    font-size: 17px;
    margin: 0 !important;
}

.spotlight-detail {
    font-size: 20px;
    margin: 0 !important;
}

.odo-detail {
    color: white !important;
    margin-top: 6vh !important;
    margin-bottom: 0 !important;
    font-size: 30px !important;
}

.update,
.update:visited,
.update:focus {
    text-decoration: underline;
}

.update:hover {
    text-decoration: underline;
    color: white !important;
}

label {
    color: white;
    padding-right: 1%;
    margin-bottom: 1% !important;
}

.btn {
    margin-top: 1.7vh;
    border: none !important;
    font-size: 18px;
}

.odometer-input {
    margin-bottom: 2vh !important;
    margin-top: -2vh !important;
    width: 8vw;
    font-size: 20px;
    text-align: right;
    color: black !important;
}

.odo-submit:hover,
 .odo-submit:focus {
    background-color: #00BCD4;
    color: white !important;
}

.edit-btn,
.edit-btn:visited {
    width: 10vw !important;
    background-color: black;
    border: 1px solid #00BCD4 !important;
    color: white !important;
}

.edit-btn:hover,
 .edit-btn:focus {
    background-color: #00BCD4;
    color: white !important;
}

.odo-update {
    margin-top: 2vh !important;
    margin-bottom: 1vh !important;
    width: 6vw !important;
}

.odo-submit {
    margin-top: 0 !important;
    margin-bottom: 1vh !important;
    width: 6vw !important;
}

.odo-input {
    margin-bottom: 2vh !important;
}

.log-service-btn,
.log-service-btn:visited {
    background-color: #00BCD4;
    color: white !important;
}

.log-service-btn:hover,
 .log-service-btn:focus {
    background-color: #00BCD4;
    color: white !important;
}

.chart {
    margin-bottom: 2vh !important;
}

.section-label {
    margin-left: 1%;
    margin-bottom: 0 !important;
    padding: .15%;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: black !important;
}

.vehicle-edit {
    float: right;
    padding: 0 1%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: black !important;
    text-decoration: underline;
}

.vehicle-edit:hover {
    color: white !important;
}

.service-nearby-link {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.service-nearby-link:hover {
    color: white;
}

.all-control {
    float: right;
    cursor: pointer;
    margin-top: 9vh;;
    margin-bottom: 2vh !important;
    color: white !important;
    font-size: 20px;
}

.expand {
    cursor: pointer;
    float: right;
    padding-right: 1vw;
    font-size: 20px;
    margin-left: .1%;
}

.spotlight-expand {
    cursor: pointer;
    float: right;
    padding-right: 1vw;
    font-size: 20px;
    margin-left: .1%;
}

.tools-expand {
    cursor: pointer;
    float: right;
    padding-right: 1vw;
    font-size: 20px;
    margin-left: .1%;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid white;
}

.charts-container {
    padding: 0 !important;
    margin-top: 3vh !important;
}

.chart1 {
    float: left;
}

.chart2 {
    float: right;
}

.schedule-dropdown {
    margin-top: 1vh;
    margin-left: -1vw !important;
    margin-bottom: 3vh;
    padding: 0 !important;
}

.schedule-label {
    color: white;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.schedule-row {
    text-align: center;
}

.schedule-hr {
    color: white;
    margin-bottom: 1vh !important;
    margin-top: 0 !important;
}

.schedule-data {
    margin: 0 !important;
    color: #00BCD4;
    font-size: 17px;

}

.data-col{
    text-align: center !important;
}

.service-label {
    color: white;
    font-size: 16px;
}

.interval-btn {
    float: right;
    margin: 1vh 0;
}

.interval-input {
    width: 5vw;
    margin-bottom: .5vh;
}

.log-service-save {
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 7.5vw;
}

#log-service {
    margin-left: 3.5vw !important;
}

.log-input {
    width: 10vw;
    height: 3vh;
}

.log-label {
    margin-top: 2vh;
    color: #00BCD4;
}

.chart1, .chart2 {
    margin-top: 2vh !important;
    margin-bottom: 3vh !important;
}

.overview {
    text-align: left;
    padding: 0 !important;
    background-color: #00BCD4 !important;
}