.container-fluid {
    height: 100%;
    width: 100%;
    background: #1F1F1F;
}

.add-vehicle {
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 21px;
}

.fa-plus {
    font-size: 25px;
}

.add-vehicle:hover {
    color: #00BCD4;
}

.select-row {
    margin-top: 14vh !important;
}

.select-label {
    font-size: 30px;
}

.vehicle-dropdown {
    padding: 0 0 0 0 !important;
    margin-bottom: 3%;
    height: 33px;
    width: 15vw !important;
    font-size: 26px;
    background: #1F1F1F;
    border: none;
    border-bottom: 2px solid white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #00BCD4;
    font-weight: bold;
}

.overview-row {
    margin-top: 1% !important;
    padding-bottom: 1% !important;
    display: table;
    width: 100% !important;
    height: auto;
    border: 1px solid white;
    color: #00BCD4;
}

.vehicleInfo {
    display: table-cell;
    vertical-align: middle;
}

.info-column {
    padding-left: 5%;
    padding-top: 1%;
}

.odometerColumn {
    padding-top: 1.5%;
    text-align: center;
}

.odo-detail {
    font-size: 30px !important;
}

.detail {
    font-size: 20px;
    margin: 0 !important;
}

.update,
.update:visited,
.update:focus {
    color: ##00BCD4;
    text-decoration: underline;
}

.update:hover {
    text-decoration: underline;
    color: white !important;
}

label {
    color: white;
    padding-right: 1%;
    margin-bottom: 1% !important;
}

.btn {
    width: 12.5vw;
    border: none !important;
}

.odometer-input {
    text-align: right;
    color: black !important;
    margin-left: 5%;
}

.odo-submit {
    width: 5vw;
    margin-top: -3vh;
    background-color: #00BCD4;
    color: white !important;
    font-size: 16px;
}

.odo-submit:hover,
 .odo-submit:focus {
    background-color: #00BCD4;
    color: white !important;
}

.edit-btn,
.edit-btn:visited {
    background-color: #00BCD4;
    color: white !important;
}

.edit-btn:hover,
 .edit-btn:focus {
    background-color: #00BCD4;
    color: white !important;
}

.log-service-btn,
.log-service-btn:visited {
    background-color: #00BCD4;
    color: white !important;
}

.log-service-btn:hover,
 .log-service-btn:focus {
    background-color: #00BCD4;
    color: white !important;
}

.btn-danger {
    background-color: #1F1F1F;
    color: #a30505;
}

.delete-icon {
    padding-top: 0;
    margin-bottom: 0;
    float: right;
    font-size: 35px;
    color: red;
    cursor: pointer;
}

.overview {
    padding: 0 !important;
    background-color: #00BCD4 !important;
    border-bottom: 2px solid black;
}

.section-label {
    margin-left: 1%;
    padding-top: .5%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black !important;
}

.vehicle-edit {
    float: right;
    padding-right: 1%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: black !important;
    text-decoration: underline;
}

.vehicle-edit:hover {
    color: white !important;
}

.service-nearby-link {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

.service-nearby-link:hover {
    color: white;
}