.container-fluid {
    height: 100%;
    width: 100%;
    padding-bottom: 2vh;
    background: #232323;
}

div {
    border-radius: 3px;
}

.controls-div {
    width: 25vw;
    height: 35px;
    float: left;
    margin-right: 4%;
    margin-top: 9vh;
    padding-left: 1%;
    padding-top: .18%;
    border: 1px solid #666666;
    background: #181818;
    -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
}

.all-control {
    margin: 0 1vh;
    cursor: pointer;
    color: #F7F7F7 !important;
    font-size: 20px;
    text-shadow: -1px 1px 3px #000000;
}

label {
    color: #F7F7F7;
    padding-right: 1%;
    margin-bottom: 1% !important;
    font-family: Arial, Helvetica, sans-serif;
}

.section-label {
    margin-bottom: 0 !important;
    padding: .30vh 0;
    margin-top: 0;
    font-size: 21px !important;
    height: 30px !important;
    font-family: 'Roboto', sans-serif;
    color: #00BCD4 !important;
}

.btn {
    margin-top: 1.7vh;
    border: none !important;
    font-size: 18px;
}

.negative {
    color: red !important;
}

.nested {
    background-color: #353535 !important;
}

.inner {
    background-color: #353535 !important;
}

.inner-label {
    color: #00BCD4 !important;
    text-shadow: -1px 1px 3px #000000;
}

.align-left {
    text-align: left !important;
}

.select-label {
    font-size: 20px;
}

.service-label {
    color: #F7F7F7;
    font-size: 15px;
    text-shadow: -1px 1px 3px #000000;
}

.detail {
    font-size: 17px;
    margin: 0 !important;
}

.snapshot-row {
    width: 70.4% !important;
    margin-top: 9vh !important;
    padding: 0 !important;
    display: table;
    height: auto;
    color: #00BCD4;
    border: 1px solid #666666;
    -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    background: #181818;
}

@-moz-document url-prefix() {
    .snapshot-row {
        width: 70% !important;
        margin-top: 9vh !important;
        padding: 0 !important;
        display: table;
        height: auto;
        color: #00BCD4;
        border: 1px solid #666666;
        -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
        box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
        background: #181818;
    }
}

.service-schedule-row {
    float: left;
    width: 61% !important;
    margin-top: 2vh !important;
}

.log-service-row {
    padding: 0 !important;
    width: 34% !important;
    float: right;
    margin-top: 2vh !important;
}

.vehicle-detail-row {
    padding: 1vw !important;
}

.select-row {
    margin-top: 5vh !important;
}

.overview-row {
    width: 70% !important;
    margin-top: 3vh;
    margin-bottom: 0;
    padding-left: 0;
    display: table;
    height: auto;
    color: #00BCD4;
}

.overview {
    height: 33px !important;
    text-align: left;
    background-color: #181818;
    border-radius: 0 !important;
    border-bottom: 1px solid #00BCD4;
}

.tools-row {
    height: 156px !important;
    margin: -4vh 0 1vh 0;
    float: right;
    padding: 0 !important;
    display: table;
    height: auto;
    border: 1px solid #666666;
    color: #00BCD4;
    -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
}

.schedule-row {
    text-align: center;
}

.vehicle-detail-container, .service-schedule-row, .log-service-row, .service-history-row, .odometerColumn {
    margin-top: 3vh !important;
    border: 1px solid #666666;
    background: #181818;
    -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
}

.dropdown-container {
    padding-left: 0 !important;
}

.dropdown-col {
    padding: 0 !important;
}

.vehicle-dropdown {
    padding: 0 !important;
    height: auto;
    width: 15vw !important;
    font-size: 18px;
    background: #F7F7F7;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #1F1F1F;
    font-weight: bold;
    -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
}

.odometerColumn {
    height: 156px;
    padding: 0 0 1vh 0 !important;
    text-align: center;
    margin-top: -7vh !important;
}

.info-column {
    padding-left: 0 !important;
}

.glance-column {
    padding-top: 1%;
}

.bottom-button-row {
    margin-bottom: 2vh !important;
}

.vehicleInfo {
    display: table-cell;
    vertical-align: middle;
}

.spotlight-detail {
    font-size: 18px;
    margin: 0 !important;
}

.odo-detail {
    color: #F7F7F7 !important;
    margin-top: 6vh !important;
    margin-bottom: 0 !important;
    font-size: 30px !important;
    text-shadow: -2px 1px 3px #000000;
}

.update,
.update:visited,
.update:focus {
    text-decoration: underline;
}

.update:hover {
    text-decoration: underline;
    color: #F7F7F7 !important;
}

.odometer-input {
    margin-bottom: 2vh !important;
    margin-top: -2vh !important;
    width: 8vw;
    font-size: 20px;
    text-align: right;
    color: black !important;
    -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
}

.odo-submit:hover,
 .odo-submit:focus {
    background-color: #00BCD4;
    color: #F7F7F7 !important;
}

.edit-btn,
.edit-btn:visited {
    width: 9.9vw !important;
    background-color: black;
    border: 1px solid #00BCD4 !important;
    color: #F7F7F7 !important;
    -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
}

.edit-btn:hover {
    background-color: #00BCD4;
    color: black !important;
}

.odo-update {
    margin-top: 2vh !important;
    margin-bottom: 1vh !important;
    width: 6vw !important;
}

.odo-submit {
    margin-top: 0 !important;
    margin-bottom: 1vh !important;
    width: 6vw !important;
}

.odo-input {
    margin-bottom: 2vh !important;
}

.odo-cancel {
    text-decoration: underline;
    margin-left: 1%;
    cursor: pointer;
}

.log-service-btn,
.log-service-btn:visited {
    background-color: #00BCD4;
    color: #F7F7F7 !important;
}

.log-service-btn:hover,
 .log-service-btn:focus {
    background-color: #00BCD4;
    color: black !important;
}

.chart {
    margin-bottom: 2vh !important;
}

.all-chevron {
    color: #00BCD4;
}

.separator {
    cursor: default;
    color: #666666 !important;
}

.expand {
    cursor: pointer;
    float: right;
    padding-right: 1vw;
    font-size: 20px;
    margin-left: .1%;
    color: black;
}

.charts-container {
    padding: 0 !important;
    margin-bottom: 3vh !important;
}

#chart1 {
    float: left;
    padding: 1%;
    width: 49% !important;
    margin-top: 0 !important;
    background: #181818;
}

#chart2 {
    float: right;
    padding: 1%;
    width: 49% !important;
    margin: 0 !important;
    background: #181818;
}

.schedule-label {
    margin-top: 2vh !important;
    color: #F7F7F7 !important;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: left !important;
    text-shadow: -1px 1px 3px #000000 !important;
}

.schedule-edit {
    color: #00BCD4;
    cursor: pointer;
    text-decoration: underline;
}

.schedule-hr {
    color: #F7F7F7;
    margin-bottom: 1vh !important;
    margin-top: 0 !important;
}

.schedule-data {
    margin: 0 !important;
    color: #00BCD4;
    font-size: 16px;
    text-shadow: -1px 1px 3px #000000;
}

.data-col{
    text-align: center !important;
}

.interval-btn {
    float: right;
    margin: 1vh;
    width: auto !important;
    font-size: 17px !important;
}

.interval-input {
    width: 5vw;
    margin-bottom: .5vh;
}

.log-service-save {
    margin-bottom: 1vh;
    margin-left: 24.5vw;
}

.log-service-save .edit-btn {
    width: auto !important;
}

#log-service {
    margin-left: 1vw !important;
}

.log-input {
    -webkit-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.75);
}

.log-label {
    margin-top: 1vh;
    color: #00BCD4 !important;
    text-shadow: -1px 1px 3px #000000;
}

.chart1, .chart2 {
    margin-top: 2vh !important;
    margin-bottom: 3vh !important;
}

.modal-label {
    color: black;
    text-shadow: none !important;
}

.modal-header {
    border-bottom: 1px solid #00BCD4 !important;
}

.modal-footer {
    border-top: 1px solid #00BCD4 !important;
}

.btn-info, .btn-danger {
    margin-top: 0 !important;
}

.no-match {
    font-size: 18px;
    margin-left: 50%;
    display: block;
    color: red;
}

.service-history-row .schedule-label {
    margin-top: 0 !important;
}

.export-btn {
    font-size: 14px !important;
    width: auto !important;
    margin-left: 1vw;
    margin-bottom: -1vh !important;
}

.email-link {
    color: white;
    float: right;
    margin-top: 1vh;
}