.container-fluid {
    height: 100%;
    width: 100%;
    background: #1F1F1F;
}

.add-vehicle {
    float: left;
    margin-top: 8%;
    margin-right: 1%;
    margin-bottom: 1%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 21px;
}

.fa-plus {
    font-size: 25px;
}

.fa-tachometer {
    color: white;
}

span {
    margin-left: 2%;
}

.odo-detail {
    font-size:
}

.add-vehicle:hover {
    color: #87C232;
}

.vehicleRow {
    margin-top: 20vh !important;
}

.vehicleList {
    display: table;
    margin: 5px 0;
    padding: 1%;
    height: auto;
    border: 1px solid white;
    color: #00BCD4;
}

.vehicleList:last-child {
    margin-bottom: 5%;
}

.name-col {
    margin-bottom: 3vh;
}

.nickname {
    display: inline;
    font-size: 40px;
    color: #00BCD4;
    padding-top: 0;
    margin-top: 0;
    text-align: left;
    font-weight: bold;
}

hr {
    margin-top: 1%;
}

.vehicleInfo {
    display: table-cell;
    vertical-align: middle;
}

.infoColumn {
    padding-left: 2%;
}

.odometerColumn {
    padding-left: 10vw;
    text-align: center;
}

.odo-label {
    margin-left: 2%;
}

.odo-detail {
    font-size: 30px !important;
}

.detail {
    font-size: 20px;
    margin: 1% auto;
}

.update,
.update:visited,
.update:focus {
    color: ##00BCD4;
    text-decoration: underline;
}

.update:hover {
    text-decoration: underline;
    color: white !important;
}

label {
    color: white;
    padding-right: 1%;
}

.buttons-column {
    margin-top: -.5%;
    text-align: right;
}

.btn {
    width: 12.5vw;
    border: none !important;
}

.odometer-input {
    text-align: right;
    color: black !important;
    margin-left: 5%;
}

.odo-submit {
    width: 5vw;
    margin-top: -3vh;
    background-color: #00BCD4;
    color: white !important;
    font-size: 16px;
}

.odo-submit:hover,
 .odo-submit:focus {
    background-color: #00BCD4;
    color: white !important;
}

.edit-btn,
.edit-btn:visited {
    background-color: #00BCD4;
    color: white !important;
}

.edit-btn:hover,
 .edit-btn:focus {
    background-color: #00BCD4;
    color: white !important;
}

.log-service-btn,
.log-service-btn:visited {
    background-color: #00BCD4;
    color: white !important;
}

.log-service-btn:hover,
 .log-service-btn:focus {
    background-color: #00BCD4;
    color: white !important;
}

.btn-danger {
    background-color: #1F1F1F;
    color: #a30505;
}

.delete-icon {
    padding-top: 0;
    margin-bottom: 0;
    float: right;
    font-size: 35px;
    color: red;
    cursor: pointer;
}