.page-wrapper {
    position: absolute;
    z-index: 5;
    padding: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: #222629;
}

.form-modal {
    z-index: 6;
}

.signed-up-link {
    position: absolute;
    left: 41%;
    bottom: 10%;
    width: 50%;
    color: white !important;
}

span {
    margin-left: 1%;
}