.page-wrapper {
    display: table;
}

.form-modal {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 65vh;
    width: 87vw;
    border: none;
    box-shadow: none;
    text-align: left;
    background: none;
}

.wrapper {
    background-color: #618930;
}

.modal-heading {
    padding: 1% 0 3% 1% !important;
}

.modal-hr {
    padding-bottom: 1% !important;
    margin-bottom: 0 !important;
}

.services-list:nth-child(even) {
    background-color: #87C232;
}

.services-list:nth-child(odd) {
    background-color: #618930;
}

.services-list:nth-child(even) .form-modal-label {
    color: #222629 !important;
}

.services-list:last-child {
    margin-bottom: 5vh;
}

.service-id {
    margin-top: 1.5%;
}

.center {
    text-align: center;
}

.btn, .btn:visited, .btn-focus {
    position: absolute;
    top: 7%;
    right: 3%;
    background-color: rgb(71, 74, 79);
    font-family: 'Roboto', sans-serif;
    color: white !important;
    box-shadow: 0 3px 3px 0 black;
}

.btn:hover {
    background-color: #87C232 !important;
    color: white !important;
}

.interval-edit:hover {
    text-decoration: underline !important;
}

input {
    margin-top: 3%;
    text-align: center !important;
}

.recommended-interval {
    font-weight: bold !important;
}

