html, body, .page-container {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #1F1F1F;
}

.header {
    z-index: 2;
    position: fixed;
    background-color: black;
    width: 100vw !important;
    border-bottom: 1px solid #00BCD4;
    border-radius: 0 !important;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

a:hover {
    text-decoration: none !important;
}

.fa-bars {
    z-index: 4;
    position: fixed;
    top: .7%;
    right: 2%;
    font-size: 40px;
    color: #00BCD4;
}

.fa-bars:hover {
    font-weight: bold;
}

.menu-exit {
    position: fixed;
    z-index: 4;

    right: 2%;
    font-size: 50px;
    color: #00BCD4;
}

.menu-exit:hover {
    font-weight: bold;
}

.menu {
    position: fixed;
    z-index: 3;
    padding-top: 10%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .98);
}

.menu-row {
    height: 20%;
    text-align: center;
}

.menu-col {
    height: 100%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #00BCD4;
}

.menu-col:hover {
    border-bottom: 1px solid #00BCD4;
    border-top: 1px solid #00BCD4;
    color: white;
}

.menu-text {
    padding-top: 2% !important;
}

.pageTitle {
    margin-top: .3%;
    margin-left: 1%;
    color: #00BCD4;
    font-family: 'Days One', sans-serif;
    font-size: 35px;
}

h2 {
    padding-top: 3%;
}

.form-modal {
    position: absolute;
    display: table;
    height: 65vh;
    width: 40vw;
    padding: 1%;
    background-color: #0092a5;
    border-radius: 3px;
    border: 2px solid #00BCD4;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: -15px 15px 28px 2px rgba(0,0,0,1);
    -moz-box-shadow: -15px 15px 28px 2px rgba(0,0,0,1);
    box-shadow: -15px 15px 28px 2px rgba(0,0,0,1);
}

#new-user-form,
#profile-form,
#new-vehicle-form,
#edit-vehicle-form,
#log-service-form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.modal-heading {
    font-family: 'Days One', sans-serif;
	color: white;
}

.form-modal-label {
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.modal-input {
    margin-bottom: 2%;
    border-radius: 3px;
}

.modal-select {
    width: 150px;
}

.radio-inline {
    padding-right: 3%;
    padding-left: 3%;
}

.modal-checkbox-label {
    padding-right: 3%;
    display: inline-block;
}

.modal-submit-btn {
    float: right;
    margin: 5% 5% 0 0;
    background-color: rgb(71, 74, 79);
    color: white;
    box-shadow: 0 3px 3px 0 black;
}

.modal-submit-btn:hover {
    background-color: #00BCD4 !important;
    color: #1F1F1F !important;
    border: 1px solid #1F1F1F;
    box-shadow: none;
}

.text-message-label {
    padding-top: 2%;
}

.modal-hr {
    margin-top: 0 !important;
    margin-bottom: 3% !important;
}

.interval-input {
    text-align: center;
}

