.form-modal {
    height: 70vh !important;
    width: 45vw !important;
}

input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.services-heading {
    margin-top: 8%;
    font-size: 25px;
    font-weight: bold;
    color: #00BCD4;
}

.modal-hr {
    margin-bottom: 1% !important;
    padding-bottom: 0 !important;
}

.services-label {
    display: table;
}

.modal-checkbox-label {
    display: table-cell;
}

.modal-checkbox-label:nth-child(odd) {
    float: left;
    clear: right;
}

.modal-checkbox-label:nth-child(even) {
    float: right;
    text-align: left;
}

.edit-btn,
.edit-btn:visited {
    margin-top: 3vh;
    margin-left: 1vw;
    width: auto !important;
}