.form-modal {
    height: 70vh !important;
    width: 45vw !important;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.services-heading {
    margin-top: 8%;
    font-size: 25px;
    font-weight: bold;
}

.modal-hr {
    margin-bottom: 1% !important;
    padding-bottom: 0 !important;
}

.services-label {
    display: table;
}

.modal-checkbox-label {
    display: table-cell;
}

.modal-checkbox-label:nth-child(odd) {
    float: left;
    clear: right;
}

.modal-checkbox-label:nth-child(even) {
    float: right;
    text-align: left;
}

.error {
    color: white;
    text-shadow: -1px -1px 0 red,
        1px -1px 0 red,
        -1px 1px 0 red,
         1px 1px 0 red;
    font-size: 20px;
    font-family: 'Days One', sans-serif;
}
